.App {
  display: flex;
}

.coin-name {
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: bold;
}

.prices {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prices-header {
  display: flex;
  
}

.home-container {
  width: 100%;
}

.add-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#settingsModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  font-weight: 700;
  color: blue;
  text-decoration: none;
}